.btn-wrapper {
  margin-top: 30px;
}

.btn {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 18px;
  margin-right: 0;
  padding: 12px 30px;
  color: #fff;
  border: 0;
  border-radius: 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;

  @include breakpoint(tablet) {
    width: initial;
    margin-right: 10px;
  }

  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
