.progress {
  background: #e3e3e3;
  height: 8px;
  border-radius: 4px;
  width: 100%;
  position: relative;

  &__in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
  }

  &__percent {
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: #302e4d;
  }
}
