.timeline {
  background-color: #fdf9ff;
  padding: 30px 15px;
  border: 1px solid #d4d4e3;
  border-radius: 10px;
  width: 100%;
  position: relative;

  &__item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: '';
      width: 1px;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__circle-dot {
    position: absolute;
    left: 0;
    top: 5px;
    height: 15px;
    width: 15px;
    left: -7px;
    border-radius: 50%;
  }

  &__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #504e70;

    .fa {
      margin-right: 5px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
  }
}
